{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title %}
News
{% endblock title %}

{% block content %}
    <h1>Все новости</h1>
    <h3>{{ time_now }}</h3>
    <hr>
    {% if news %}
        <table>
            <tr>
                <td>
                    Заголовок
                </td>
                <td>
                    Дата публикации
                </td>
                <td>
                    Текст
                </td>
            </tr>
        {% for post in news %}
            <tr>
                <td>
                    {{ post.title|Censor}}
                </td>
                <td>
                    {{ post.dateCreation}}
                </td>
                <td>
                    {% filter Censor %}
                    {{ post.text|truncatechars:20}}
                    {% endfilter %}
                </td>
            </tr>
        {% endfor %}
        </table>
    {% else %}
        <h2>No news</h2>
    {% endif %}
{% endblock content %}

